body {
    font-family: sans-serif;
    background-color: lightblue;
    color: black;
}

h1 {
    font-size: 35px;
    color: darkblue;
    text-align: center;
}

h2 {
    font-size: 25px;
}

p, nav {
    font-size: 15px;
}

#intro {
    background-color: rgb(255, 123, 0);
}

#styles > ul {
    color: darkblue;
}